.NewProj form {
    padding-bottom: 15px;
    font-size: 24px;
}

.NewProj form textarea {
    height: 50px;
    font-size: 30px;
}

.NewProj form textarea {
    height: 300px;
    font-size: 24px;
}

.NewProj button {
    max-width: 600px;
    margin: 0 auto;
    
}