.App {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.App .navbar-brand {
  margin-top: 25px;
  margin-left: 30px;
  font-size: 45px;
  height: 80px;
  font-variant-position: normal;
}

.App .navbar-collapse {
  margin-right: 30px;
  margin-top: 28px;
  font-size: 25px;

}